<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.dems.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProsecutorDashboardServlet</display-name>
    <servlet-name>ProsecutorDashboardServlet</servlet-name>
    <servlet-class>com.dems.ProsecutorDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProsecutorDashboardServlet</servlet-name>
    <url-pattern>/ProsecutorDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEvidenceServlet</servlet-name>
    <servlet-class>com.dems.AddEvidenceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvidenceServlet</servlet-name>
    <url-pattern>/AddEvidenceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvidenceMetaServlet</display-name>
    <servlet-name>AddEvidenceMetaServlet</servlet-name>
    <servlet-class>com.dems.AddEvidenceMetaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvidenceMetaServlet</servlet-name>
    <url-pattern>/AddEvidenceMetaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvidenceMetaServlet1</display-name>
    <servlet-name>AddEvidenceMetaServlet1</servlet-name>
    <servlet-class>com.dems.AddEvidenceMetaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvidenceMetaServlet1</servlet-name>
    <url-pattern>/AddEvidenceMetaServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateReportServlet</display-name>
    <servlet-name>GenerateReportServlet</servlet-name>
    <servlet-class>com.dems.GenerateReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReportServlet</servlet-name>
    <url-pattern>/GenerateReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProsecutorDashboardServlet1</display-name>
    <servlet-name>ProsecutorDashboardServlet1</servlet-name>
    <servlet-class>com.dems.ProsecutorDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProsecutorDashboardServlet1</servlet-name>
    <url-pattern>/ProsecutorDashboardServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CasemanagerServlet</display-name>
    <servlet-name>CasemanagerServlet</servlet-name>
    <servlet-class>com.dems.CasemanagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CasemanagerServlet</servlet-name>
    <url-pattern>/CasemanagerServlet</url-pattern>
  </servlet-mapping>
</web-app>